<nav>
    <div class="nav-wrapper light-blue lighten-2">
      <a href="/" class="brand-logo left">Gif Generator</a>
      <ul id="nav-mobile" class="right">
        <% if current_admin? %>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
          <li><%= link_to "Create Gif", new_admin_gif_path %></li>
          <li><%= link_to "Create Category", new_admin_category_path %></li>
        <% elsif current_user %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "My Gifs", user_path(current_user) %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
          <li><%= link_to "Create Account", new_user_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
